@import "colors.css";

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: JetBrainsMono Nerd Font, FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
    border-radius: 5px;
    min-height: 0;
    border: none;
}

window#waybar {
    background-color: transparent;
    transition-property: background-color;
    transition-duration: 0.5s;
}

window#waybar.hidden {
	opacity: 0.5;
	color: @on_surface;
}

/* WORKSPACES */
#workspaces button {
	all: initial;
  /* Remove GTK theme values (waybar #1351) */
  	min-width: 0;
  /* Fix weird spacing in materia (waybar #450) */
  	box-shadow: inset 0 -3px transparent;
  /* Use box-shadow instead of border so the text isn't offset */
  	padding: 6px 15px;
  	margin: 6px 3px;
  	border-radius: 4px;
  	background-color: #20318A;
	background-color: @primary_container;
  	color: @on_primary_container;
}

#workspaces button.active {
    background-color: @primary;
    color: @on_primary_fixed;
}

#workspaces button:hover {
    background: @tertiary_container;
    box-shadow: inherit;
    text-shadow: inherit;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#custom-power {
  	background-color: @background;
	padding: 6px 6px;
	border-radius: 10px;
	margin: 2px 2px
}

#clock, 
#wireplumber,
#network,
#battery,
#tray {
	background-color: #20318A; 
	color: @on_surface;
	font-family: JetBrainsMono Nerd Font;
	padding: 6px 15px;
	border-radius: 10px;
	margin: 2px 2px
}

label:focus {
    background-color: #000000;
}

#network:hover {
	background-color: @inverse_primary;
}


#network.disconnected {
    background-color: @error;
}

#wireplumber:hover {
    background-color: @inverse_primary;
}

#wireplumber.muted {
    background-color: @error;
}

#battery:hover {
	background-color: @inverse_primary;
}

#clock:hover {
	background-color: @inverse_primary;
}

#tray:hover {
	background-color: @inverse_primary;
}

#custom-power:hover {
	background-color: @inverse_primary;
}

tooltip {
  border-radius: 8px;
  padding: 15px;
  background-color: #131822;
}

tooltip label {
  padding: 5px;
  background-color: #131822;
}
